<%= javascript_include_tag "fora", "data-turbo-track": "reload" %>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">

<div class="row col-md-12">
  <h1>
    The Flying Dutchmen Forum
  </h1>
</div>

<div class="row fora">
  <div class="col-md-3 mb-3">

    <div class="card card-body">
      <%= link_to t('start_a_thread'), fora.new_forum_thread_path, class: "btn btn-outline-primary btn-block" %>
      <hr />

      <div class="forum-thread-filters">
        <h5>
          <strong>
            <%= t('filters') %>
          </strong>
        </h5>
        <div>
          <%= forum_link_to fora.forum_threads_path, exact: true do %>
            <%= bootstrap_icon('list') %> <%= t('.all_threads') %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div>
            <%= forum_link_to fora.mine_forum_threads_path do %>
              <%= bootstrap_icon('list-ol') %> <%= t('.my_threads') %>
            <% end %>
          </div>
          <div>
            <%= forum_link_to fora.participating_forum_threads_path do %>
              <%= bootstrap_icon('list-stars') %> <%= t('.participating') %>
            <% end %>
          </div>
        <% end %>
        <div>
          <%= forum_link_to fora.answered_forum_threads_path do %>
            <%= bootstrap_icon('list-check') %> <%= t('.finshed') %>
          <% end %>
        </div>
        <div>
          <%= forum_link_to fora.unanswered_forum_threads_path do %>
            <%= bootstrap_icon('list-task') %> <%= t('.unfinished') %>
          <% end %>
        </div>
      </div>

      <hr />

      <div class="forum-thread-filters">
        <h6>
          <strong>
            <%= t('.by_category') %>
          </strong>
        </h6>
        <div><%= forum_link_to fora.forum_threads_path, exact: true do %>All<% end %></div>
        <% ForumCategory.sorted.each do |category| %>
          <div>
            <%= forum_link_to fora.forum_category_forum_threads_path(category) do %>
              <%= bootstrap_icon('circle-fill', fill: category.color) %> <%= category.name %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if @forum_thread.present? && @forum_thread.persisted? %>
        <hr />

        <%# User has not posted in the thread or subscribed %>
        <h5><%= t('.notifications') %></h5>

        <%= link_to fora.forum_thread_notifications_path(@forum_thread), method: :post, class: "btn btn-success btn-sm btn-block mb-2" do %>
          <% if @forum_thread.subscribed? current_user %>
            <%= t('.unsubscribe') %>
          <% else %>
            <%= t('.subscribe') %>
          <% end %>
        <% end %>

        <small><%= @forum_thread.subscribed_reason(current_user) %></small>
      <% end %>
    </div>

  </div>

  <div class="col-md-9 mb-3">

    <div class="card card-body">
      <%= yield %>
    </div>

      <% if @forum_thread.present? && @forum_thread.persisted? %>
        <hr />
        <div class="d-flex justify-content-between">
          <%= link_to fora.forum_thread_notifications_path(@forum_thread), method: :post, class: "btn btn-success mb-3" do %>
            <% if @forum_thread.subscribed? current_user %>
              <%= t('.unsubscribe') %>
            <% else %>
              <%= t('.subscribe') %>
            <% end %>
          <% end %>

          <% if (@posts) && (@forum_thread.forum_posts.length > 3) %>
            <div class="d-flex">
              <%= link_to t('.top'), '#', data: {top: 'JavaScript'}, id: 'topButton', title: t('.go_to_top'), class: "btn btn-outline-primary mb-3 mx-1" %>
              <%= (will_paginate @posts, url_builder: fora, renderer: Fora::BootstrapLinkRenderer) %>
            </div>
          <% end %>

          <div>TFD</div>
        </div>
      <% end %>


  </div>
</div>


<% parent_layout("application") %>
